Source: fishtank
Section: games
Priority: optional
Maintainer: Giel van Schijndel <me@mortis.eu>
Build-Depends: autoconf, automake, autotools-dev, libboost-dev (>= 1.36) | libboost1.36-dev (>= 1.36) | libboost1.37-dev (>= 1.36) | libboost1.38-dev (>= 1.36), libboost-program-options-dev (>= 1.36) | libboost-program-options1.36-dev (>= 1.36) | libboost-program-options1.37-dev (>= 1.36) | libboost-program-options1.38-dev (>= 1.36), libboost-regex-dev (>= 1.36) | libboost-regex1.36-dev (>= 1.36) | libboost-regex1.37-dev (>= 1.36) | libboost-regex1.38-dev (>= 1.36), libeigen2-dev, libgl-dev, libglfw-dev, libjpeg-dev
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), debhelper (>= 5)
Standards-Version: 3.6.2

Package: fishtank
Architecture: any
Depends: ${shlibs:Depends}
Description: Fishtank renderer, renders fish swimming in a tank
 Fishtank renderer, renders fish swimming in a tank.
